<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="alert alert-warning" style="margin-top:100px">
            <h1><i class="bi-globe" style="color:#cc66ff"></i> Sistema de Examenes</h1>
            <p>Aplicación desarrollada con C#</p>
            <hr class="m-2" style="border-top:2px dotted #00f" />
            <p>
                Utiliza clases de utilidad para ....
            </p>
            <a href="#" class="btn btn-primary">Leer mas...</a>
        </div>
    </div>
    <div class="col-1"></div>
</div> 